/*Heading style*/
.h1 {
  color: white;
  padding: 50px;
}
.header .text-center{
  padding-top: 100px;
}
.header .text-center strong{
  border: solid;
  border-color: white;
  border-width: 3px;
  padding: 10px;
  color:white;
  font-size:larger;
  background-color: rgba(0,0,0, .5);
}

/*Content*/
.inner {
  background-color: red;  
}

.inner2{
  background-color: black;
}

/*Parallax scrolling*/
    .parallax { 
    /* The image used */
    background-image: url("snowman.jpg");

    /* Height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

  /* Turn off parallax scrolling for tablets and phones. */
   @media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    } 


