<!DOCTYPE html>

<html>

<head>
		<!--link to bootstrap-->
		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet'>
		<!--link to stylesheet-->
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <!--link to jquery-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src"ourscript.js"></script>
                    <script src="static/js/bootstrap.min.js"></script>  
		<!--Title on tab bar-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moving Forward</title>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="#page1">Page 1</a></li>
			<li><a href="#page2">Page 2</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<!--Parallax scrolling-->
<div class= "parallax">


<!--header-->
<div class="header">
  <h1 class="text-center"><strong>Legal Tech</strong>
  </h1>
</div>
</div>

<!--Content-->
  <!--Tweets-->
    <h2 class="text-center"> #LegalTech: </h2>
      <br>
      <br>
        <div class="container" >
          <div class="row" >
            {% for tweet in tweets %}
          <div class="col-lg-3 col-sm-3" >
            <img src=" {{ tweet.user.profile_image_url }} " class="img-rounded"> <br> <h3>{{ tweet.user.screen_name }}</h3> <br>
          </div>
          <div class="col-lg-8 col-sm-9" >
            <p>{{ tweet.text }}</p>
          </div>
          {% endfor %}
          </div>
            <center>
            <a href="https://twitter.com/search?q=%23shefcodefirst&src=savs" class="twi-button">Read more </a>
            </center>
            </div>
      <br><br>

  <!--Twitter List-->
    <center>
    <a class="twitter-timeline" data-width="800" data-height="800" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/_fallingstars_/lists/legal-tech?ref_src=twsrc%5Etfw">A Twitter List by _fallingstars_</a> 
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </center>

  <!-- Lower Section -->
          <section class="container">
            <div class="inner">
              <!-- 2 Columns -->
                  <div class="col col2">
                    <h2 class="text-center"> About the site </h2> 
                    <p>This site aims to collet #legaltech tweets. </p>
                    <p>Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex. </p>
                    <a href="#" class="button">Learn More</a>
                  </div>
                </div>
            </div>
          </section>

            <!-- Section -->
          <section class="container">
            <div class="inner2">
              
                  <h3>Suspendisse quis massa vel justo</h3>
                  <p>Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.</p>
                  <p>Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex. </p>
                  <a href="#" class="button">Learn More</a>
                </div>
                <div class="col col1 first">
                  <div class="image round fit">
                    <a href="generic.html" class="link"><img src="images/pic02.jpg" alt="" /></a>
                  </div>
                </div>
              </div>
            </div>
          </section>

  <!--About Us-->
  <div class="container text-center">
  <div class='row'>
  <div class="col-md-12">
  <div id="buzz">
    <h2> The Team <br/> <small> Who are we? </small></h2>
    </div>
    </div>

    <div>
        <div class="col-md-4">
          <img src="static/jx.jpg" class="img-circle" style="width:100%">
          <blockquote>
            <p>Final year law student, part time couch potato</p>
           <small>Jie Xin</small>
          </blockquote>
      </div>
    </div>

    <div>
        <div class="col-md-4">
          <img src="static/hope.jpg" class="img-circle" style="width:100%" >
          <blockquote>
            <p>Third year student in sociology and social policy</p>
            <small>Hope</small>
        </blockquote>
        </div>
    </div>

    <div>
      <div class='row'>
        <div class="col-md-4">
          <img src="static/maureen.jpg" class="img-circle" style="width:100%">
          <blockquote>
        <p> Student </p>
        <small>Maureen</small>
        </blockquote>
      </div>
    </div> 
  

    <!--Social media buttons-->
    <div id='social-buttons'>
      <button class='btn btn-lg'>Twitter</button>
      <button class='btn btn-lg'>Facebook</button>
      <button class='btn btn-lg'>Pinterest</button>
      </div>
    </div>
  </div>







   


</body>
</html>